/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation
 *= require_tree .
 *= require_self

 */
@import 'foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/*// @import "foundation_and_overrides";*/
// @include foundation-grid;
//@include flex-grid-column($columns, $gutters);

h1 {
  font-family: 'Pacifico', cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin: 2px
}

h4 {
  margin: 2px
}

hr {
  width: 100%;
  color: #A0A0A0;
  border-style: solid;
  border-top-width: 1px;
  border-color: lightgrey;
  margin-left: 0px;
  margin-right: 0px;

}
body {
  font-family: 'Merriweather', serif;
  // background-image: url();
  background-color: white;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  // margin-top: 0px;
  // margin-bottom: 0px;
  // padding-top: 0px;
  // padding-bottom: 0px;
  // height: 0px;
}

a:hover{
  color: #1ED760;
}

p {
  margin: 10px;

}

ul {
  padding-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

select{
  border-width: 0px;
  width:200px;
  -moz-appearance: none;
  appearance: none;
  radius: 0px;
  border-radius: 0px;
  background-color: #FAFAFA;
  -webkit-appearance: none;
  color: #D3D3D3;
}

option{
  border-width: 0px;
  border-radius: 0px;
  radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FAFAFA;
}
option-placeholder{
  border-radius: 0px;
  radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.option-style{
  border-width: 0px;
  border-radius: 0px;
  radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FAFAFA;
  font-family: 'Merriweather', serif !important;
}

select:focus{
  outline-width: thin;
  outline-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #FAFAFA;
}


input{
  background-color: #FAFAFA;
  radius: 0px;
  width: 196px;
  border-width: 0px;
}

input[type=text] {
  width: 196px;
}

input[type=text]:focus {
  outline-width: thin;
  outline-color:  #A0A0A0;
  width: 196px;
}

::-webkit-input-placeholder {
  color: lightgrey;
}

textarea {
  height: 60px;
  width: 196px;
  resize: none;
  background-color: #FAFAFA;
  border-top-color:  #A0A0A0;
  border-bottom-color:  #A0A0A0;
  border-left-width: 0px;
  border-right-width: 0px;
  border-width: 0px;
}

textarea:focus{
  outline-width: 1px;
  outline-color:  #A0A0A0;
}

.red {
  background-color: red;
}

.button {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 0px;
}

input.button {
  padding-left: none;
}

.button:focus {outline:0;}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    color: #1ED760;
}

button, input, textarea, select, isindex, datagrid {
    font: inherit;
    font-family: 'Merriweather', serif;
}
