.panel-alert{
  width: 200px;
  color: red
}

.feedbackloop a {
  color: black;
  text-decoration: none;
}

#red {
  color: red;
}

#access {
  margin: 0px;
  padding: 0px;
  width: 70%;
  text-align: center;
}


iframe {
  width: 97%;
  padding: 10px
}
