.info-page{
  height: 100%;
  width: 70%;
  align-items: center;
  display: inline-block;
  overflow-y: scroll;
  align-self: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-top: 30px;
  font-size: 1.25em;
}

.info-page p {
  margin-left: 4px;
}

#info-tile{
width: 70%
}
