.rails-nav{
  padding-top: 15px;
  padding-right: 5px;
  background-color: none;
  width: 100%;
  height: 40px;
  right: 0;
  top: 0;
  position: fixed;
  float: right;
  text-align: right;
  // background: rgba(54, 25, 25, .0);
  color: lightgrey;
  z-index: 1
}

.rails-nav a {
  color: lightgrey
}

.rails-nav a:hover{
 color: #1ED760;
}

.nav-bar{
  width: 250px;
  margin-top: -18px;
  margin-left: 10px;
  float: left;
  margin-bottom: none;
  overflow: hidden;
  top: 0;
}

.not-nav{
  float: right;
}

.home-link {
  height: 80px;
}

.home-link h1 {
  margin: 0px;
}

.my-links a {
  margin: 0px;
  color: black;
}

.my-links a:hover {
  margin: 0px;
  color: #1ED760;
}

.my-links{
  margin-top: -5px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: thin;
  padding-left: 5px;
}


@media screen and (max-width: 500px) {
    .rails-nav {
        background-color: white;
    }
}
