.rails-nav{
  padding-top: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding-right: 5px;
  // white-space: nowrap;
  // display: inline-block;
  background-color: none;
  height: 20px;
  right: 0;
  top: 0;
  position: fixed;
  background: rgba(54, 25, 25, .0);
  color: lightgrey;
}
.rails-nav a {
  color: lightgrey
}
.rails-nav a:hover{
 color: #1ED760;
}
.nav-bar{
  width: 250px;
  margin-left: 10px;
  float: left;
  margin-bottom: none;
  overflow: hidden;
  top: 0;
}
.not-nav{
  float: right;
}

.home-link {
  height: 80px;
}

.home-link h1 {
  margin: 0px;
}


.my-links a {
  margin: 0px;
  color: black;
}

.my-links a:hover {
  margin: 0px;
  color: #1ED760;
}

.my-links{
  border-left-color: black;
  border-left-style: solid;
  border-left-width: thin;
  padding-left: 5px;
}

@media screen and (min-width: 1300px) {
    .nav-bar {
        position: sticky;
    }
}
@media screen and (min-width: 1040px) {
    .nav-bar {
      background: fixed;
        position: sticky;
    }
}

@media screen and (max-width: 300px) {
    .nav-bar {
        width: 100%;
    }
}
