.song-container{
  height: 100%;
  padding-top: 4em;

  text-align: center;
  overflow-y: scroll;
  // height: 100%;
  // width: 80%;
  // text-align: center;
  // align-items: center;
  // display: inline-block;
  // overflow-y: scroll;
  // align-self: right;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 40px;
  // margin-right: 40px;
}
//
// @media screen and (min-width: 1300px) {
//     .song-container {
//         position: fixed;
//     }
// }
//
// @media screen and (max-width: 1300px) {
//     .song-container {
//         position: fixed;
//         width: 85%;
//     }
// }
//
// @media screen and (max-width: 800px) {
//     .song-container {
//         position: fixed;
//         width: 80%;
//     }
// }

// @media screen and (max-width: 600px) {
//     .song-container {
//         width: 90%;
//         margin-left: 35px;
//         position:inherit;
//         align-content: center;
//     }
// }

.song-tile{
  margin: auto;
  box-shadow: 3px 3px 5px grey;

}

.columns{
    margin-bottom: 2em;
    align-content: center;
    justify-content: center;
}
.column{
    margin-bottom: 2em;
    align-content: center;
    justify-content: center;
}


$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);

.song-tile-image {
  max-width: 100%;
  max-height: 100%;
}

.container a {
  margin: 0px;
}
