.song-home-margin{
  height: 100%;
  padding-top: 4em;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
}

.song-tile-image {
  width: 200px;
  border-color: #A0A0A0;
}


.song-show-info {
  width: 200px;
  color: black;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  border-color: #A0A0A0;
  background: white;
}

.song-show-info p {
  margin: 2px;
}

.song-show-info a {
  font-size: 18px;
  margin: 2px;
  color: #1ED760;
  text-decoration: underline;
  font-style: bold;
}

.song-show-info a:hover {
 opacity: 0.5;
}
.user-quote {
  float: right;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.feedback-tile p {
  font-size: 14px;
}

.feedback-tile {
  width: 450px;
  border-color: lightgrey;
  border-width: thin;
  margin-bottom: 20px;
}
.feedback-form {
  padding: 2px;
  background-color: white;
  width: 198px;
  display: inline-block;
  margin-top: 10px;
  border-top-style: #A0A0A0;
  border-top-width: 1px;
  overflow-y: scroll;
}

.feedback-form h3 {
  margin-left: 0px;
  margin-top: 5px;
  font-weight: bold;
}

.feedback-form input.button {
  margin-top: 3px;
  margin-left: 0px;
  padding-left: 0px;
}

.feedback-text {
  min-width: 350px;
  max-width: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #A0A0A0;
  padding-top: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px grey;
}

.feedback-scroll {
  width: 475px;
  overflow-y: scroll;
  height: 100%;
}

.feedback-info {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
}

.feedback-info-button {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    font-size: 18px !important;
}

.infoscroll  {
  font-size: 14px;
}
