.song-home-margin{
  height: 90%;
  width: 70%;
  align-items: center;
  display: inline-block;
  align-self: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media screen and (min-width: 1300px) {
    .song-home-margin {
        position: fixed;
    }
}

@media screen and (max-width: 1300px) {
    .song-home-margin {
      width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .song-home-margin {
        width: 100%;
        position:inherit;
        align-content: center;
    }
}

.song-tile-image {
  width: 200px;
  border-color: #A0A0A0;
}


.song-show-info {
  width: 200px;
  color: black;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  border-color: #A0A0A0;
  background: white;
}

.song-show-info p {
  margin: 2px;
}

.song-show-info a {
  font-size: 18px;
  margin: 2px;
  color: #1ED760;
  text-decoration: underline;
  font-style: bold;
}

.song-show-info a:hover {
 opacity: 0.5;
}
.user-quote {
  float: right;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.feedback-tile p {
  font-size: 14px;
}

.feedback-tile {
    border-color: lightgrey;
    border-width: thin;
    width: 85%;
    margin-bottom: 20px;
}
.feedback-form {
  padding: 2px;
  background-color: white;
  width: 198px;
  display: inline-block;
  margin-top: 10px;
  border-top-style: #A0A0A0;
  border-top-width: 1px;
  overflow-y: scroll;
  height: 100%;
}

.feedback-form h3 {
  margin-left: 0px;
  margin-top: 5px;
  font-weight: bold;
}

.feedback-form input.button {
  margin-top: 3px;
  margin-left: 0px;
  padding-left: 0px;
}

.feedback-text {
  min-width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #A0A0A0;
  padding-top: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px grey;
}

.feedback-text b {

}

.feedback-info {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
}

.feedback-info-button {
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    font-size: 18px !important;
}

.infoscroll  {
  font-size: 14px;
}

.feedback-scroll{
  position: fixed;
  display: inline-block;
  overflow-y: scroll;
  height: 95%;
  width: 50%;
}

@media screen and (max-width: 640px) {
    .feedback-scroll {
        position: sticky;
        width: 100%;
    }
}
